
body {
    font-size:30px;
    padding:30px
}
.image{
    background:url("pisos4.jpg") #CCC no-repeat;
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;

    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}
