<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>SearchBestRent</title>

</head>
 
<body>

        <div class="encabezado">
            <h1>SearchBestRent</h1>
            <p class="lead"></p>
            <p>Still in development
            </p>
        </div>

        <div class="formulario">
            <div class="form">
                <form method='POST' action="/price/rooms">
                    <h4>Rooms</h4>
                    <p>Introduce the number of rooms you would like the rental house to have <input name="rooms" type="number" size="40"></p>
                    
                    <h4>Price</h4>
                    <p>Introduce the maximum price you are willing to pay by month   <input name="price" type="number" size="40"></p>
                    <input type="submit" value="Send" action="/price/rooms">
                </form>
                
                
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Joaquín Pérez de Ayala Satrústegui 2019</p>
        </footer>
 
    </div>
</body>
 
</html>